---
import type { PostsOrPages } from "@tryghost/content-api";
import BlogCard from "./BlogCard.astro";

interface Props {
  posts: PostsOrPages;
}

const { posts } = Astro.props as Props;
---

<section id="latest-blog">
  <a
    href={"/blog/" + posts[0].slug}
    class="flex flex-col md:flex-row items-center lg:px-24 md:px-24 px-6 mt-12 md:mt-20 gap-3 md:gap-12">
    <img
      class="rounded-xl aspect-video h-auto md:w-1/2 hover:shadow-xl"
      src={posts[0].feature_image}
    />
    <div
      class="md:w-1/2 flex flex-col text-center md:text-start gap-2 md:gap-6">
      <p class="text-gray-500 text-xs font-normal md:font-medium md:text-sm">
        {
          new Date(posts[0].published_at ?? "1/1/2023").toLocaleDateString(
            undefined,
            {
              year: "numeric",
              month: "long",
              day: "2-digit",
            }
          )
        }
      </p>
      <h1 class="text-xl md:text-4xl font-bold">
        {posts[0].title}
      </h1>
      <p
        class="font-light text-xs text-clip overflow-hidden max-h-24 md:max-h-fit md:text-base">
        {posts[0].custom_excerpt || posts[0].excerpt}
      </p>
    </div>
  </a>
</section>

<section
  id="blogs"
  class="grid grid-col-1 md:grid-cols-3 gap-x-10 gap-y-12 md:gap-y-16 lg:px-24 md:px-24 px-6 mt-12 md:mt-16 justify-start">
  {
    posts
      .slice(1)
      .map((post) => (
        <BlogCard
          slug={post.slug}
          image={post.feature_image}
          date={post.published_at}
          title={post.title}
          excerpt={post.custom_excerpt || post.excerpt}
        />
      ))
  }
</section>
