<!DOCTYPE html>
<html lang="en">


<head>
  <title>Blogs | Prannay Kedia</title>
  <%- include('../pages/partials/head'); %>
  <%- include('../pages/partials/metatags'); %>
</head>

<body>
  <!--Navbar Starts-->
  <header class="relative">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex justify-between items-center border-b border-black-600 pt-6 pb-4 lg:px-16 sm:px-6 md:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="/" class="text-2xl font-extrabold leading-none text-gray-900 select-none logo">Prannay<span class="text-indigo-600">.</span></a>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button type="button" id="hamburger-menu" class="rounded-md p-2 inline-flex items-center justify-center text-black-900 hover:text-black-900 hover:bg-black-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: outline/menu -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
        <nav class="hidden md:flex space-x-10">
          <a href="/about-me" class="text-sm font-normal text-black-300 hover:text-indigo-900"> About </a>
          <a href="/start-up" class="text-sm font-normal text-black-300 hover:text-indigo-900"> Start-Up
          </a>
          <a href="/projects" class="text-sm font-normal text-black-300 hover:text-indigo-900"> Projects
          </a>
          <a href="/blogs" class="text-sm font-semibold text-indigo-600"> Blog </a>
          <a href="https://drive.google.com/file/d/112vlj7AxSeZ6I0wYuxGY2FofZMj9HpM_/view?usp=sharing" target=”_blank” class="text-sm font-normal text-black-300 hover:text-indigo-900"> CV </a>
        </nav>
        <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
          <a href="/contact-me" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-full shadow-sm text-sm font-normal text-white bg-indigo-600 hover:bg-indigo-700">
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
              </svg>
              <p class="inline-block pl-2">Contact Me</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Mobile Nav Links -->
    <div id="mobile-nav" class="hidden z-50 absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
      <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
        <div class="pt-5 pb-6 px-5">
          <div class="flex items-center justify-between">
            <div>
              <a href="/" class="text-2xl font-extrabold leading-none text-gray-900 select-none logo">Prannay<span class="text-indigo-600">.</span></a>
            </div>
            <div class="-mr-2">
              <button type="button" id="close-mobile-nav" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div class="mt-6">
            <nav class="grid gap-y-8">
              <a href="/about-me" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 h-6 w-6 text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900"> About </span>
              </a>

              <a href="/start-up" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 h-6 w-6 text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10.496 2.132a1 1 0 00-.992 0l-7 4A1 1 0 003 8v7a1 1 0 100 2h14a1 1 0 100-2V8a1 1 0 00.496-1.868l-7-4zM6 9a1 1 0 00-1 1v3a1 1 0 102 0v-3a1 1 0 00-1-1zm3 1a1 1 0 012 0v3a1 1 0 11-2 0v-3zm5-1a1 1 0 00-1 1v3a1 1 0 102 0v-3a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900"> Start-Up </span>
              </a>

              <a href="/projects" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 h-6 w-6 text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900"> Projects </span>
              </a>

              <a href="/blogs" class="-m-3 p-3 flex items-center rounded-md bg-indigo-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 h-6 w-6 text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                </svg>
                <span class="ml-3 text-base font-medium text-indigo-900"> Blog </span>
              </a>

              <a href="https://drive.google.com/file/d/112vlj7AxSeZ6I0wYuxGY2FofZMj9HpM_/view?usp=sharing" target=”_blank” class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 h-6 w-6 text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900"> CV </span>
              </a>
            </nav>
          </div>
        </div>
        <div class="py-6 px-5 space-y-6">
          <a href="/contact-me" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
              </svg>
              <p class="inline-block pl-2">Contact Me</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>
  <!--Navbar Ends-->

  <section class="heading flex flex-col items-center justify-center mt-12">
    <div class="flex items-center justify-center gap-4 md:gap-8">
      <hr class="w-12 md:w-48 h-2 rounded-full bg-black" />
      <div class="text-center text-3xl md:text-4xl font-extrabold">
        <p>My <br class="md:hidden">Musings</p>
      </div>
      <hr class="w-12 md:w-48 h-2 rounded-full bg-black" />
    </div>
  </section>

  <% if (blogs.length==0) { %>
  <section id="empty-state" class="flex flex-col items-center justify-center">
    <img src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667496959/personal-website/blog-coming-soon.svg" alt="" class="w-1/2">
    <h3 class="text-center text-2xl md:text-3xl font-bold">Coming <br class="md:hidden">Soon....</h3>
  </section>
  <% } else { %>
  <section id="latest-blog">
    <a href="/blog/<%= blogs[0].slug %>" class="flex flex-col md:flex-row items-center lg:px-24 md:px-24 px-6 mt-12 md:mt-20 gap-3 md:gap-12"><img class="rounded-xl aspect-video h-auto md:w-1/2 hover:shadow-xl" src="<%= blogs[0].feature_image %>">
      <div class="md:w-1/2 flex flex-col text-center md:text-start gap-2 md:gap-6">
        <p class="text-gray-500 text-xs font-normal md:font-medium md:text-sm">
          <%= new Date(blogs[0].created_at).toLocaleDateString( undefined, (options={ year: "numeric"
                                , month: "long" , day: "2-digit" , }) ); %>
        </p>
        <h1 class="text-xl md:text-4xl font-bold">
          <%= blogs[0].title %>
        </h1>
        <p class="font-light text-xs text-clip overflow-hidden max-h-24 md:max-h-fit md:text-base">
          <%= blogs[0].custom_excerpt || blogs[0].excerpt %>
        </p>
      </div>
    </a>
  </section>

  <!-- Card System -->
  <section id="blogs" class="grid grid-col-1 md:grid-cols-3 gap-x-10 gap-y-12 md:gap-y-16 lg:px-24 md:px-24 px-6 mt-12 md:mt-16 justify-start">
    <% for (let i=1; i < blogs.length; i++) { %>
    <a href="/blog/<%= blogs[i].slug %>" class="flex flex-col gap-4"><img class="aspect-video h-auto w-76 rounded-xl card hover:shadow-xl" src="<%= blogs[i].feature_image %>">
      <div class="pl-1 text-center md:text-start">
        <p class="text-gray-500 font-normal md:font-medium text-xs">
          <%= new Date(blogs[i].created_at).toLocaleDateString( undefined, (options={
                                    year: "numeric" , month: "long" , day: "2-digit" , }) ); %>
        </p>
        <h1 class="text-xl font-bold pt-2">
          <%= blogs[i].title %>
        </h1>
        <p class="font-light text-xs pt-1">
          <%= blogs[i].custom_excerpt || blogs[0].excerpt %>
        </p>
      </div>
    </a>
    <% } %>
  </section>
  <% } %>

  <%- include('../pages/partials/footer'); %>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script> -->
</body>

</html>